.toucher {
  color: #44aa88;
}

.toucher-input {
  max-width: 91ch;
  min-width: 91ch;

  height: 2rem;
  padding-bottom: 0;
  padding-left: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px dotted black;
  font-size: 1rem;
  font-family: monospace, monospace;
  overflow: hidden;
}
.toucher-sample {
  max-width: 91ch;
  min-width: 91ch;

  font-size: 1rem;
  font-family: monospace, monospace;
  background-color: white;
  padding-left: 1px;
}
.toucherWrapper {
  margin: 0 auto;
  background-color: #aaa;
  border: 1px solid blue;
  width: fit-content;
}
