.canvaser {
   margin: 0px;
   width: 100%; 
   height: 100%; 
   border: 1px solid red;
   flex: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

#cnv-do {
/*	background-color: #aaaaff;*/
  border: 1px solid #222222;
  background: url('./material-birchwood-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  flex: auto;
}


